<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Ganame si puedes</h1>
	<p></p>
 	<form action="/guardar" method="post">
 		<input name="palabra"><%=session['acierto']%></input>
 		<input type="submit" value="enviar">
 	</form>
</body>
</html>