<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="/guardar" method="post">
	<h1>_ _ _ _</h1>
	<input type="text" name="campo"/>
	<input type="submit" value="enviar"/>
</form>
	</body>
</html>